body {
    font-family: 'B612',sans-serif;
    background-color: #acc0c2;
    margin-top: 40px;
}

article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 80px;    
    padding: 0 40px;
}

section {
    width: calc(50% - 40px);
}

h1, h2, h3, h4, p {
    color: white;
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

h3 {
    font-size: 18px;
    font-weight: 400;
}

input {
    display: inline;
    font-family: 'B612',sans-serif;
    padding: 10px;
    border: 1px solid #111;
    border-radius: 5px;
    background-color: #f5f5f5;
    outline: none;
    transition: 0.3s ease;
    margin-top: 10px;
}

input:hover {
    background-color: #111;
    color: #f5f5f5;
}

/* Classes */
.components {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 30px 0;
}

.component {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 20px 0;
}

.component img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border: 1px solid #111;
    border-radius: 20px;
    align-self: center;
}

#cart-section {
    position: sticky;
    top: 30px;
}

/* IDs */
#cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: calc(100% - 40px);
    min-height: 200px;
    border: 1px solid #111;
    border-radius: 20px;
    padding: 20px;
    margin: 30px 0;
    background-color: #b5b5b5;
}